.top-container{
    background-color:#effffa;
    position: relative;
    padding-top: 100px;
    padding-bottom: 20px;
}

hr{
    border-style:none;
    border-top-style: dotted;
    width: 5%;
    border-color: rgb(196, 196, 196);
    border-width: 7.5px;
}

/* .profile{
    padding-bottom: 10px;
} */

/* .contact-me{
    padding-bottom: 10px;
} */

.skills{
    margin-top: 20px;
}

.middle-container{
    background-color:#effffa;
}

.bottom-container{
    background-color:#effffa;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px
}

.btn{
    font-family: Arial, Helvetica, sans-serif; 
}


body{ 
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1{
    margin-top: 0px;
    margin-bottom: 0;
    font-family: 'Reenie Beanie', cursive;
    font-size: 562%;
    color: rgb(0, 202, 108);
}

h3{
    font-family: 'Montserrat', sans-serif;
}

p{
   margin: 20px;
}

h2{
    margin: 15px;
    font-family: 'Quicksand', sans-serif;
    color: rgb(0, 202, 108);
    font-size: 20px;
}

.bottom-cloud {
    position: absolute;
    left: 27%;
    bottom: 300px;
}

.top-cloud{
    position: absolute;
    right: 27%;
    top: 50px;
}

.icons{
    margin-top: 10px;
    margin: 20px;
}
